.ig-card {
    max-width: 420px;
    min-width: 420px;
    border-radius: 14px;
}

.post-card {
    padding: 0.75rem;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    background-color: #fafafa;
}

.modal-backdrop-custom {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-card {
    background: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-header {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 1rem;
}

.explain {
    padding: 0.75rem;
    border-radius: 6px;
    margin-bottom: 0.75rem;
}

.explain.success {
    background-color: #e6f4ea;
    border-left: 4px solid #198754;
}

.auth-flag {
    position: absolute;
    top: 5px;
    left: -50px;
    display: flex;
    align-items: center;
    gap: 6px;

    background-color: #fff3cd;
    color: #664d03;
    padding: 6px 6px;
    border-radius: 6px;

    font-size: 0.75rem;
    font-weight: 500;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: default;
    z-index: 10;
}

.auth-flag::after {
    content: '';
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid #e6c767;
}


.flag-text {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
}

.auth-flag:hover .flag-text {
    opacity: 1;
    max-width: 200px;
    white-space: normal;
}

.auth-flag i {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}


.auth-flag-right {
    position: absolute;

    right: -60px;
    display: flex;
    align-items: center;
    gap: 6px;

    background-color: #fff3cd;
    color: #664d03;
    padding: 6px 6px;
    border-radius: 6px;

    font-size: 0.75rem;
    font-weight: 500;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: default;
    z-index: 10;
}

.auth-flag-right::after {
    content: '';
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 6px solid #e6c767;
}

.auth-flag-right:hover .flag-text {
    opacity: 1;
    max-width: 200px;
    white-space: normal;
}

.auth-flag-right i {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}